.ui.button.toggle.active{
  background-color:#2185d0!important
}

.ui.button.toggle.active:hover{
  background-color:#2185d0!important
}
#toggleVisible{
 display: none;
}
#clasifiedTile{
  display: table !important;
}
.AchievementSlider{
  height : 300px !important;
  background-color: antiquewhite;
}
.CustomIcon{
    width: 20px; 
    height: 20px;
    float: right;
    margin-left: 5px !important;
}

      
