

.ui.button.toggle.active{
  background-color:#2185d0!important
}

.ui.button.toggle.active:hover{
  background-color:#2185d0!important
}
#toggleVisible{
 display: none;
}
#clasifiedTile{
  display: table !important;
}
.achievement{
  height : 300px;
  width : 600px
}
#coroWidth{
  /* width:220px !important; */
  
  
}

 .card{
  height: 260px;
} 
#next{
  background: black;
  border-radius:100%;
  border: 1px solid white;
}
